{% extends 'base.html.twig' %}

{% block body %}

<h3>Ajouter un film</h3>
{{form(form1)}}
<h3>Comment doit-être le fichier ?</h3>
<img alt="help" src={{asset("images/help.png")}} />
<a href="./">Retour en arrière</a>

{% endblock %}